.weather-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: wheat 3px solid;
    background: #94e2ee;
    flex-direction: column;
    width: 500px;
    padding: 50px ;
    min-height: 250px;
    border-radius: 25px;
    margin-top:25px ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter-tag{
    color: white;
}
form{margin: 15px}
.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-btn{
    background: dodgerblue;
    border-radius:20px;
    height: 50px;
    width: 150px;
    color: white;
    margin: 5px;
    border: 2px solid #93d7e2;
    font-weight: bold;
    outline:none !important;
}
.city-name {
    border-radius: 20px;
    padding: 0 5px;
    height: 45px;
    border: none;
    text-align: center;
    outline:none;
}
.weather-prop{
    color: white;
    text-align: center;
}